.idx/*

01-exercise/node_modules
02-exercise/node_modules
03-exercise/node_modules
04-exercise/node_modules
04-exercise/backend-04-exercise/.venv
04-exercise/backend-04-exercise/.env

authentication/node_modules
authentication-cloud/node_modules
authentication-firebase/node_modules

computed-variables/node_modules
css-example/node_modules
custom-directives/node_modules
global-pinia/node_modules
global-vuex/node_modules
helloword/node_modules
life-circle/node_modules
route-protect/node_modules
route-example/node_modules
